@import "tailwindcss";
@source inline("pointer-events-none");
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "vdark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(25% 0 0);
  --color-base-300: oklch(40% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(26.1% 0.280 174);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.6323 0.2168 292.17);
  --color-secondary-content: oklch(12.7% 0.125 292.170);
  --color-accent: oklch(35% 0.042 265.755);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(57.2% 0.360 264.052);
  --color-info-content: oklch(100% 0 264.052);
  --color-success: oklch(69% 0.266 142.495);
  --color-success-content: oklch(27.7% 0.035 142.495);
  --color-warning: oklch(87.3% 0.253 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(44.9% 0.329 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@font-face {
  font-family: "Besley";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/Besley/Besley-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/Besley/Besley-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "TikTok Sans";
  font-style: normal;
  font-weight: 400 500 600 700 800 900;
  font-display: swap;
  src: url("/fonts/TikTok_Sans/TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf")
    format("truetype");
}

@layer utilities {
  .font-mono {
    font-family: "Consolas", monospace;
  }
}

[data-font="serif"] {
  --font-app: "Besley", serif;
}

[data-font="sans-serif"] {
  --font-app: "TikTok Sans", serif;
}

html,
body,
#app {
  scrollbar-width: none;
  width: 400px;
}

body {
  margin: 0;
  min-width: 400px;
  min-height: 520px;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-app);
  font-optical-sizing: auto;
}

#app {
  overflow-y: auto;
}
